In [1]:
import numpy as np
import matplotlib.pyplot as pp
import pandas as pd
import seaborn

In [2]:
df1 = pd.read_csv("C:/Users/LIUYANFENG/Desktop/CovidDataConfirmGlobal.csv")
#df1

In [3]:
df2 = pd.read_csv("C:/Users/LIUYANFENG/Desktop/CovidDataConfirmGlobal.csv", usecols = [0,1,323])
#df2

In [4]:
cols = list(df2)
#cols

In [5]:
cols.insert(0,cols.pop(cols.index('Country/Region')))
#cols

In [6]:
df3 = df2.loc[:,cols]
df3

         Country/Region Province/State  12/6/20
0           Afghanistan            NaN    47306
1               Albania            NaN    42988
2               Algeria            NaN    88252
3               Andorra            NaN     7050
4                Angola            NaN    15591
..                  ...            ...      ...
266  West Bank and Gaza            NaN    98038
267      Western Sahara            NaN       10
268               Yemen            NaN     2337
269              Zambia            NaN    17916
270            Zimbabwe            NaN    10718

[271 rows x 3 columns]

In [7]:
#df3['12/6/20'].dtypes

# Latest Confrim Number throughout the world (12/06/20)

In [20]:
df3['12/6/20'].sum()

67073728

In [9]:
df4 = pd.read_csv("C:/Users/LIUYANFENG/Desktop/CovidDataConfirmGlobal.csv", usecols = [0,1,323])
cols = list(df4)
cols.insert(0,cols.pop(cols.index('Country/Region')))
df5 = df4.loc[:,cols]
df6 = df5.values
df6 = list(map(list,zip(*df6)))
df6 = pd.DataFrame(df6)
#df6

In [21]:
arrt1 = df6.loc[0]

df6.columns = arrt1
df7 = df6.drop([0])
df7  = df7.reset_index()
df8 = df7.drop(labels='index',axis =1)
#df8

In [24]:
df9 = df8[['China']]
df10= df9.drop([0])
df10  = df10.reset_index()
df11 =df10.drop(labels='index',axis =1)
#df11

In [36]:
Sum1 = df11.iloc[0,0:].sum()
df12 = pd.DataFrame([[Sum1]], columns = ['China'])
#df12

In [37]:
df9 = df8[['Malaysia']]
df10= df9.drop([0])
df10  = df10.reset_index()
df13 =df10.drop(labels='index',axis =1)
#df13

In [38]:
df9 = df8[['US']]
df10= df9.drop([0])
df10  = df10.reset_index()
df14 = df10.drop(labels='index',axis =1)

#df14

In [39]:
df9 = df8[['Canada']]
df10= df9.drop([0])
df10  = df10.reset_index()
df15 =df10.drop(labels='index',axis =1)
Sum1 = df15.iloc[0,0:].sum()
df15 = pd.DataFrame([[Sum1]], columns = ['Canada'])
#df15

In [40]:
df9 = df8[['United Kingdom']]
df10= df9.drop([0])
df10  = df10.reset_index()
df16 =df10.drop(labels='index',axis =1)
Sum1 = df16.iloc[0,0:].sum()
df16 = pd.DataFrame([[Sum1]], columns = ['UK'])
#df16

# Confirmed number Comparision

In [41]:
df17 = pd.concat([df12, df13,df14,df15,df16],  axis=1)
df17

   China Malaysia        US  Canada       UK
0  93577    72694  14757000  418848  1727751